.desktop {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 4414px;
  align-items: center;
  position: relative;
  background-color: var(--backgroundbackground-1);
  overflow: hidden;
}

.desktop .main {
  position: relative;
  width: 1295px;
  height: 665px;
  margin-left: -7.50px;
  margin-right: -7.50px;
  background-image: url(./img/main.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .rectangle {
  position: absolute;
  top: 96px;
  left: 1458px;
  width: 106px;
  height: 104px;
  object-fit: cover;
}

.desktop .header-section {
  position: absolute;
  top: 225px;
  left: 0;
  width: 1280px;
  height: 250px;
}

.desktop .text-wrapper {
  position: absolute;
  top: 114px;
  left: 333px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Vollkorn-Regular", Helvetica;
  font-weight: 400;
  color: #fff8f8;
  font-size: 70px;
  text-align: center;
  letter-spacing: -2.10px;
  line-height: 81.9px;
  white-space: nowrap;
}

.desktop .feature {
  height: 1103px;
  position: relative;
  align-self: stretch;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desktop .row {
  padding: 120px 64px 40px;
  margin-top: -40.50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .content {
  width: 544px;
  position: relative;
  height: 281px;
  background-color: #efefef;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.desktop .text {
  top: 67px;
  height: 130px;
  position: relative;
  width: 544px;
}

.desktop .sous-le-ciel-dor-du {
  position: absolute;
  top: -6px;
  left: 50px;
  width: 466px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kodchasan-Medium", Helvetica;
  font-weight: 500;
  color: #000000c7;
  font-size: 18px;
  letter-spacing: -0.09px;
  line-height: 26.1px;
}

.desktop .image {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 432px;
  object-fit: cover;
}

.desktop .div {
  padding: 40px 64px 120px;
  margin-bottom: -40.50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .div-wrapper {
  flex: 1;
  flex-grow: 1;
  position: relative;
  height: 281px;
  background-color: #efefef;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.desktop .text-2 {
  top: 76px;
  height: 130px;
  position: relative;
  width: 544px;
}

.desktop .au-c-ur-du-serengeti {
  position: absolute;
  top: 1px;
  left: 45px;
  width: 476px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kodchasan-Medium", Helvetica;
  font-weight: 500;
  color: #000000cf;
  font-size: 18px;
  letter-spacing: -0.09px;
  line-height: 26.1px;
}

.desktop .footer {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  background-color: var(--backgroundbackground-1);
}

.desktop .img {
  position: relative;
  width: 1283px;
  height: 793px;
  margin-left: -1.50px;
  margin-right: -1.50px;
  object-fit: cover;
}

.desktop .feature-2 {
  width: 1280px;
  height: 1168px;
  position: absolute;
  top: 2562px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desktop .row-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 120px 64px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -8.00px;
}

.desktop .text-3 {
  top: 102px;
  height: 78px;
  position: relative;
  width: 544px;
}

.desktop .p {
  position: absolute;
  top: 0;
  left: 52px;
  width: 492px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kodchasan-Regular", Helvetica;
  font-weight: 400;
  color: #000000cf;
  font-size: 18px;
  letter-spacing: -0.09px;
  line-height: 26.1px;
}

.desktop .row-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 40px 64px 120px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -8.00px;
}

.desktop .le-soleil-se-couche {
  position: absolute;
  top: 0;
  left: 40px;
  width: 487px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kodchasan-Medium", Helvetica;
  font-weight: 500;
  color: #000000cf;
  font-size: 18px;
  letter-spacing: -0.09px;
  line-height: 26.1px;
}

.desktop .registry-section {
  position: absolute;
  top: 3736px;
  left: 0;
  width: 1280px;
  height: 687px;
  background-image: url(./img/registry-section.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .registry-content {
  position: absolute;
  top: 226px;
  left: 298px;
  width: 684px;
  height: 258px;
}

.desktop .registry-body {
  position: relative;
  top: -169px;
  width: 684px;
  height: 258px;
}

.desktop .votre-avis-compte {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 664px;
  height: 238px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kodchasan-Regular", Helvetica;
  font-weight: 400;
  color: var(--paragraphparagraph-2);
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 33.6px;
}

.desktop .button-mauve {
  display: flex;
  width: 511px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 25px;
  position: absolute;
  top: 206px;
  left: 51px;
  background-color: var(--backgroundbackground-3);
  border-radius: 500px;
}

.desktop .RSVP {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  color: #ffffff;
  font-size: var(--button-font-size);
  text-align: center;
  letter-spacing: var(--button-letter-spacing);
  line-height: var(--button-line-height);
  white-space: nowrap;
  font-style: var(--button-font-style);
}

.desktop .nav {
  display: flex;
  width: 1325px;
  height: 110px;
  align-items: center;
  justify-content: space-around;
  gap: 201px;
  padding: 24px 48px;
  position: fixed;
  top: 0;
  left: -15px;
  background-color: #f2e8c5;
  border: 1px solid;
  border-color: #090909;
}

.desktop .rectangle-2 {
  position: relative;
  width: 61px;
  height: 57.21px;
  object-fit: cover;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 43px;
  left: 1186px;
  font-family: var(--caption-font-family);
  font-weight: var(--caption-font-weight);
  color: #000000;
  font-size: var(--caption-font-size);
  text-align: center;
  letter-spacing: var(--caption-letter-spacing);
  line-height: var(--caption-line-height);
  text-decoration: underline;
  white-space: nowrap;
  font-style: var(--caption-font-style);
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 43px;
  left: 816px;
  font-family: var(--caption-font-family);
  font-weight: var(--caption-font-weight);
  color: #000000;
  font-size: var(--caption-font-size);
  text-align: center;
  letter-spacing: var(--caption-letter-spacing);
  line-height: var(--caption-line-height);
  text-decoration: underline;
  white-space: nowrap;
  font-style: var(--caption-font-style);
}

.desktop .our-story {
  position: absolute;
  top: 43px;
  left: 1028px;
  font-family: var(--caption-font-family);
  font-weight: var(--caption-font-weight);
  color: #000000;
  font-size: var(--caption-font-size);
  text-align: center;
  letter-spacing: var(--caption-letter-spacing);
  line-height: var(--caption-line-height);
  text-decoration: underline;
  white-space: nowrap;
  font-style: var(--caption-font-style);
}
